name: SageMaker Training (Manual)
on:
  workflow_dispatch: {}   # lets you trigger it manually from GitHub Actions tab

jobs:
  train:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1
      SM_ROLE_ARN: ${{ secrets.SM_ROLE_ARN }}   # SageMaker execution role
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sagemaker==2.* boto3 pandas scikit-learn joblib xgboost

      - name: Launch SageMaker training job
        env:
          SM_ROLE_ARN: ${{ env.SM_ROLE_ARN }}
        run: |
          python start_training.py
#test
